/* Input styles */

:root {
  --gray: #758195;
}

.ant-input-group {
  display: flex;
}

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper {
  color: #273444;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9.2px;
  padding-bottom: 9.2px;
  font-size: 0.875rem;
}

.ant-input::placeholder,
.ant-input-password::placeholder,
.ant-input-affix-wrapper::placeholder {
  font-weight: 400;
}

.ant-input-sm {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 7.2px;
  padding-bottom: 7.2px;
  font-size: 0.75rem;
}

.ant-input-lg {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10.2px;
  padding-bottom: 10.2px;
  font-size: 1rem;
}

.ant-input-password {
  color: #273444;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9.2px;
  padding-bottom: 9.2px;
  font-size: 0.875rem;
}

.ant-input-password:has(.ant-input-lg) {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10.2px;
  padding-bottom: 10.2px;
  font-size: 1rem;
}

.ant-input-password:has(.ant-input-sm) {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 7.2px;
  padding-bottom: 7.2px;
  font-size: 0.75rem;
}

.ant-input-group-addon {
  display: flex !important;
  align-items: center;
  width: auto !important;
}

/* Select styles */

.ant-select {
  width: 100%;
}

.ant-select .ant-select-selector {
  min-height: 40px;
  height: auto !important;
  padding: 0 12px !important;
}

.ant-select .ant-select-selector .ant-select-selection-item,
.ant-select .ant-select-selector .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.ant-select .ant-select-selector .ant-select-selection-item {
  color: #273444;
}

.ant-select .ant-select-selector .ant-select-selection-search-input {
  height: 100% !important;
}

.ant-select.ant-select-multiple .ant-select-selector {
  padding: 0 5px !important;
}

.ant-select.ant-select-multiple .ant-select-selector .ant-select-selection-item {
  height: 30px;
}

.ant-select-sm.ant-select-multiple .ant-select-selector .ant-select-selection-item {
  height: 22px;
}

.ant-select-lg.ant-select-multiple .ant-select-selector .ant-select-selection-item {
  height: 36px;
}

.ant-select-sm .ant-select-selector {
  min-height: 32px;
}

.ant-select-sm .ant-select-selector .ant-select-selection-item {
  font-size: 12px;
}

.ant-select-lg .ant-select-selector {
  min-height: 46px;
  padding: 0 13px !important;
}

.ant-select-lg .ant-select-selector .ant-select-selection-item {
  font-size: 16px;
}

.ant-select-dropdown .ant-select-item-option-selected {
  font-weight: 400;
  background-color: #D6DAE1 !important;
}

/* Tag styles */

.ant-page-header .ant-page-header-heading .ant-avatar {
  margin-right: 0;
}

/* Date Picker styles */

.ant-picker {
  width: 100%;
  height: 40px;
  padding: 4px 12px 4px;
  font-size: 14px;
}

.ant-picker .ant-picker-input input {
  color: #273444;
  font-weight: 600;
  border-radius: 0;
}

.ant-picker-small {
  height: 32px;
  padding: 4px 11px 4px;
}

.ant-picker-small .ant-picker-input input {
  font-size: 12px;
}

.ant-picker-large {
  height: 46px;
  padding: 4px 13px 4px;
}

.ant-picker-large .ant-picker-input input {
  font-size: 16px;
}

/* Button styles */

.ant-btn {
  height: 40px;
  vertical-align: middle;
  line-height: 1.3;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
  font-weight: 600;
}

.ant-btn-sm {
  height: 32px !important;
  font-size: 12px !important;
  padding: 0 10px !important;
}

.ant-btn-lg {
  height: 46px !important;
}

.ant-btn-primary {
  background-color: #2A4F8D;
  border-color: #2A4F8D;
  color: #fff;
}

.ant-btn-primary:hover {
  background-color: #0165C2;
  border-color: #0165C2;
}
/* Webkit scrollbar Style */

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  width: 10px;
  background-color: #F0F1F2;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border-radius: 4px;
}

/* Tab styles */

.ant-tabs-tab {
  font-weight: 600;
  color: #8492a6;
}

/* Table styles */
.ant-table-header .ant-table-cell {
  color: var(--gray) !important;
  font-size: 12px;
}

.ant-table-header .ant-table-cell:has(.weekDay-0) {
  background-color: #F0ECFD;
}

.ant-table .ant-table-body {
  overflow: auto !important;
}

.ant-table .ant-table-body .ant-table-cell {
  font-weight: 500;
  font-size: 14px !important;
}

.ant-modal .ant-modal-content {
  padding: 24px 14px;
}

.ant-modal .ant-modal-content .ant-modal-header,
.ant-modal .ant-modal-content .ant-modal-body {
  padding: 0 10px;
}

.ant-form .ant-form-item-label label {
  font-weight: 500 !important;
}

.ant-table-pagination {
  margin-bottom: 0 !important;
}

/* Radio styles */

.ant-radio-group {
  width: 100%;
}

.ant-radio-group .ant-radio-button-wrapper {
  height: 40px;
  vertical-align: middle;
  line-height: 1.3;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.ant-radio-group-small .ant-radio-button-wrapper {
  height: 32px !important;
  font-size: 12px !important;
  padding: 0 10px !important;
}

.ant-radio-group-large .ant-radio-button-wrapper {
  height: 46px !important;
}

/* Empty styles */

.ant-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ant-empty .ant-empty-description {
  font-size: 16px;
}

