// Input styles

:root {
  --gray: #758195;
}

.ant-input-group {
  display: flex;
}

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper {
  @include input;
}

.ant-input-sm {
  @include input-small;
}

.ant-input-lg {
  @include input-large;
}

.ant-input-password {
  @include input;

  &:has(.ant-input-lg) {
    @include input-large;
  }

  &:has(.ant-input-sm) {
    @include input-small;
  }
}

.ant-input-group-addon {
  display: flex !important;
  align-items: center;
  width: auto !important;
}

// Select styles

.ant-select {
  width: 100%;

  .ant-select-selector {
    min-height: 40px;
    height: auto !important;
    padding: 0 12px !important;

    .ant-select-selection-item,
    .ant-select-selection-placeholder, {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }

    .ant-select-selection-item {
      @apply text-gray-dark
    }

    .ant-select-selection-search-input {
      height: 100% !important;
    }
  }
}

.ant-select.ant-select-multiple {
  .ant-select-selector {
    padding: 0 5px !important;

    .ant-select-selection-item {
      @apply h-[30px];
    }
  }
}

.ant-select-sm.ant-select-multiple {
  .ant-select-selector {
    .ant-select-selection-item {
      @apply h-[22px]
    }
  }
}

.ant-select-lg.ant-select-multiple {
  .ant-select-selector {
    .ant-select-selection-item {
      @apply h-[36px]
    }
  }
}

.ant-select-sm {
  .ant-select-selector {
    min-height: 32px;

    .ant-select-selection-item {
      font-size: 12px;
    }
  }
}

.ant-select-lg {
  .ant-select-selector {
    min-height: 46px;
    padding: 0 13px !important;

    .ant-select-selection-item {
      font-size: 16px;
    }
  }
}

.ant-select-dropdown {
  .ant-select-item-option-selected {
    @apply font-normal bg-gray-extra #{ !important };
  }
}

// Tag styles

.ant-page-header .ant-page-header-heading .ant-avatar {
  margin-right: 0;
}

// Date Picker styles

.ant-picker {
  width: 100%;
  height: 40px;
  padding: 4px 12px 4px;
  font-size: 14px;

  .ant-picker-input {
    input {
      @apply text-gray-dark font-semibold rounded-none;
    }
  }
}

.ant-picker-small {
  height: 32px;
  padding: 4px 11px 4px;

  .ant-picker-input {
    input {
      font-size: 12px;
    }
  }
}

.ant-picker-large {
  height: 46px;
  padding: 4px 13px 4px;

  .ant-picker-input {
    input {
      font-size: 16px;
    }
  }
}

// Button styles

.ant-btn {
  @include btn
}

.ant-btn-sm {
  @include btn-small
}

.ant-btn-lg {
  @include btn-large
}

// Webkit bos Style

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @apply w-[10px] bg-gray-light;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-[#C1C1C1] rounded-[4px];
  }
}

// Tab styles

.ant-tabs-tab {
  font-weight: 600;
  @apply text-gray
}

// Table styles
.ant-table {
  &-header {
    .ant-table-cell {
      color: var(--gray) !important;
      font-size: 12px;

      &:has(.weekDay-0) {
        background-color: #F0ECFD;
      }
    }
  }

  .ant-table-body {
    overflow: auto !important;

    .ant-table-cell {
      font-weight: 500;
      font-size: 14px !important;
    }
  }
}

.ant-modal {
  .ant-modal-content {
    padding: 24px 14px;

    .ant-modal-header,
    .ant-modal-body {
      padding: 0 10px;
    }
  }
}

.ant-form {
  .ant-form-item-label {
    label {
      font-weight: 500 !important;
    }
  }
}

.ant-table-pagination {
  margin-bottom: 0 !important;
}

// Radio styles

.ant-radio-group {
  width: 100%;

  .ant-radio-button-wrapper {
    @include btn;
    display: inline-flex;
    align-items: center;
  }
}

.ant-radio-group-small {
  .ant-radio-button-wrapper {
    @include btn-small
  }
}

.ant-radio-group-large {
  .ant-radio-button-wrapper {
    @include btn-large
  }
}


// Empty styles

.ant-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .ant-empty-description {
    font-size: 16px;
  }
}