// Button classes

.btn {
  @apply inline-flex items-center gap-x-1.5
}

.btn.ant-btn-sm {
  @apply gap-x-1
}

.btn.ant-btn-lg {
  @apply gap-x-2
}

.btn-success {
  @apply bg-green border-none text-white btn;

  &:not([disabled]) {
    &:hover {
      color: white !important;

      &[disabled] {
        color: gray !important;
      }
    }

    &:focus {
      color: white !important;
    }
  }
}


.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.webkit-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ellipsis-2,
.ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  -webkit-line-clamp: 2;
}

.ellipsis-3 {
  -webkit-line-clamp: 3;
}

// Flex center

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

// Titles

.title-sm {
  @apply text-sm text-gray-dark font-medium;
}

.title-base {
  @apply text-base text-gray-dark font-medium;
}

// Profile menus

.profile-menus {
  .active-menu {
    background: white;
  }

  .ant-menu-item {
    min-height: 44px;
    display: flex;
    align-items: center;

    .ant-menu-item-icon {
      font-size: 20px !important;
    }

    .ant-menu-title-content {
      flex-grow: 1;
      font-weight: 600;

      @apply webkit-1;
    }
  }
}

.text-13 {
  font-size: 0.813rem; /* 13px */
  line-height: 1.063rem; /* 19px */
}

.base-skeleton {
  &-input > .ant-skeleton-input {
    width: 100% !important;
  }
}

.scroller-modal {
  height: 100dvh;

  .ant-modal {
    height: 100%;

    .ant-modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ant-modal-body {
        overflow: hidden auto;
        flex-grow: 1;
      }
    }
  }
}