/** ✅ Tailwind CSS v3 - Direktivalar */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** IMPORT Style modules **/
@import "./ant.css";

/** Main Styles **/
body {
  color: #273444;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

a, .ant-btn-link {
  color: blue;
}

a:hover, .ant-btn-link:hover {
  color: rgba(0, 0, 255, 0.6);
}

svg {
  display: inline;
}

