:root {
  --primary: #2A4F8D;
  
  --blue: #0171DB;
  --blue-500: #017EF3;
  
  --gray: #8492a6;
  --gray-dark: #273444;
  --gray-light: #F0F1F2;
  --gray-extra: #D6DAE1;
  --gray-800: #758195;
  --gray-500: #98A2B3;
  
  --warning: #ffc82c;
  
  --danger: #DD3409;
  
  --success: #189877;
  
  --purple: #7e5bef;
  --purple-light: #9d87e6;
  --purple-extra-light: #f0ecfd;
}