.isMobile {
  display: block !important;
}

@media (min-width: 768px) {
  .isMobile {
    display: none !important;
  }
}

.isNotMobile {
  display: none !important;
}

@media (min-width: 768px) {
  .isNotMobile {
    display: block !important;
  }
}

