.ant-layout {
  .change-organization {
    display: none;
  }
  .change-role {
    display: none;
  }
}
.user-avatar__content {
  width: 260px;
  //height: 500px;
  overflow-y: auto;
  .change-organization {
    display: block;
  }
  .change-role {
    display: block;
  }
  &-name {
    @apply text-sm text-gray-dark font-semibold max-w-[230px] w-full text-center;
  }
  &-image {
    @apply w-[60px] h-[60px] bg-gray-light flex justify-center items-center rounded-full;

    svg {
      @apply text-3xl text-gray;
    }
  }

  .change-role {
  }
}

@include responsive-sm {
  .ant-layout {
    .change-organization {
      display: block;
    }
    .change-role {
      display: block;
    }
  }

  .user-avatar__content {
    width: 360px;
    .change-organization {
      display: none;
    }
    .change-role {
      display: none;
    }

    &-name {
      @apply text-xl;
    }
    &-image {
      @apply w-[90px] h-[90px];

      svg {
        @apply text-5xl text-gray;
      }
    }
  }
}