.ant-layout .change-organization {
  display: none;
}

.ant-layout .change-role {
  display: none;
}

.user-avatar__content {
  width: 260px;
  overflow-y: auto;
}

.user-avatar__content .change-organization {
  display: block;
}

.user-avatar__content .change-role {
  display: block;
}

.user-avatar__content-name {
  font-size: 0.875rem;
  color: #273444;
  font-weight: 600;
  max-width: 230px;
  width: 100%;
  text-align: center;
}

.user-avatar__content-image {
  width: 60px;
  height: 60px;
  background-color: #F0F1F2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.user-avatar__content-image svg {
  font-size: 1.875rem;
  color: #8492a6;
}

@media (min-width: 576px) {
  .ant-layout .change-organization {
    display: block;
  }
  
  .ant-layout .change-role {
    display: block;
  }
  
  .user-avatar__content {
    width: 360px;
  }
  
  .user-avatar__content .change-organization {
    display: none;
  }
  
  .user-avatar__content .change-role {
    display: none;
  }
  
  .user-avatar__content-name {
    font-size: 1.25rem;
  }
  
  .user-avatar__content-image {
    width: 90px;
    height: 90px;
  }
  
  .user-avatar__content-image svg {
    font-size: 3rem;
    color: #8492a6;
  }
}

